[Unit]
Description=Apache Tomcat Server
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64/
Environment=CATALINA_HOME=#USER_HOME#/middleware/apache-tomcat-10.0.14
Environment=CATALINA_BASE=#USER_HOME#/middleware/apache-tomcat-10.0.14

ExecStart=#USER_HOME#/middleware/apache-tomcat-10.0.14/bin/startup.sh
ExecStop=#USER_HOME#/middleware/apache-tomcat-10.0.14/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
